name: Deploy to AKS

on:
  push:
    branches:
      - master

env:
  ACR_NAME: microservicios
  AKS_CLUSTER_NAME: microservicio
  AKS_RESOURCE_GROUP: microservicio_group
  IMAGE_NAME: microservicio-app

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to ACR
      run: az acr login --name $ACR_NAME

    - name: Build and push Docker image
      run: |
        run: docker build -t $ACR_NAME.azurecr.io/$IMAGE_NAME:${{ github.sha }} ./Microservicio-Pedidos
        docker push $ACR_NAME.azurecr.io/$IMAGE_NAME:${{ github.sha }}

    - name: Set AKS context
      run: |
        az aks get-credentials --resource-group $AKS_RESOURCE_GROUP --name $AKS_CLUSTER_NAME --overwrite-existing

    - name: Deploy to AKS
      run: |
        kubectl create deployment microservicio-app --image=$ACR_NAME.azurecr.io/$IMAGE_NAME:${{ github.sha }} --dry-run=client -o yaml | kubectl apply -f -
        kubectl expose deployment microservicio-app --type=LoadBalancer --port=80 --target-port=80 --dry-run=client -o yaml | kubectl apply -f -
